* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(196, 232, 253);
}

/* Nav Bar Styling */
.navContainer {
  background-color: #6BA8FF;
  display: flex;
  justify-content: space-between;

}

.navContentContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px;
  align-items: center;
  max-width: 1200px;
  width 70%;
}

.navLogo {
  margin: 7px 0;
  width: 150px;
  height: auto;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.linkItems {
  margin: 7px 0;
  text-decoration: none;
  padding: 8px 0;
  text-align: center;
}

.navLinkItems {
  border-left: 1px solid #1B79FE;
  transition: background-color .35s linear;
}

.navLinkItems:first-of-type {
  margin-left: 50px;
}

.linkItems a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
}

.navLinkItems:hover {
  transition: background-color .35s linear;
  background-color: #1B79FE;
}
/* End Nav Styling */


/* Content Styling */

.welcomePhoto {
  background-image: url("images/medical-practice-management-blur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.welcomeMessage{
  color: rgb(81, 125, 187);
  padding: 10% 20%;
  text-shadow: 0 0 .07em black;
  text-align: center;
  font-size: 100px;
}

.subHeading {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.subHeadingText {
  padding: 11px 0;
  text-align: center;
  width: 40%;
  font-style: italic;
  max-width: 1200px;
}

.mainContent {
  margin: 0 200px;
  text-align: center;
}

.trioBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 75px;
}

.trioBoxText {
  padding: 5px 10px;
  width: 100%;
  border-left: 1px solid #33333382;
  font-size: 20px;
}

.trioBoxText:first-of-type {
  border-left: none;
}

.mainText {
  margin: 30px 0 0 0;
  line-height: 22px;
}

.standardContent {
  text-align: justify;
}

.img-textContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.icon {
  height: 100px;
}

.bottomContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottomContent {
  margin-right: 75px;
  vertical-align: center;
  font-size: 20px;
}

.whiteGlove {
  max-height: 300px;
  width: auto;
}

/* End Content Styling */

/* Footer */

.footerContainer{
  margin-top: 20px;
  background-color: black;
  color: white;
  font-size: 20px;
}

.footerContentContainer {
  padding: 6px 25px;
  max-width: 1200px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.copyInfo {
  font-size: 14px;
  letter-spacing: .6px;
}
